.container-message-cards {
    max-width: 50em;
    padding: 30px;
    margin: 2em auto;
    border: solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: white;
    overflow: scroll
}

.message-input {
    align-items: center;
    padding: .2em .4em;
    margin: .2em 0;
    outline: none;
    box-shadow: none;
    display: grid; 
}

.send-message-button{
    max-width: 9em;
    padding: .5em;
    margin: .3em auto;
    background-color: cornflowerblue;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
}